// BLOG PAGE - MAIN SECTION -------------------- 

// GENERAL LAYOUT STYLING --------------------
.blog-page main {
    background-color: $mauve;
        .flex-container {
            padding: 100px 0;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: flex-start;
            max-width: 1440px;
            margin: 0 auto;
                .flex-right {
                    width: calc(63% - 25px);
                }
                .flex-left {
                    flex: 1 0 50px;
                    width: calc(37% - 25px - 10%);
                    margin: 0 50px 0 5vw;
                    background-color: $white;
                }
        }
}

// ARTICLE SECTION -------------------- 
article {
    width: 100%;
    .image-container {
        position: relative;
            .h1-and-image {
                position: absolute;
                left: 30px;
                top: -350px;
            }
            img {
                box-shadow: -30px 30px $orange;
                width: 100%;
                max-width: 900px;
            }
    }
    .text-container {
        background-color: $white;
        padding: 400px 10% 40px 40px;
        width: 100%;
            p {
                margin-top: 30px;
            }
            .date-paragraph {
                margin: 0;
                font-weight: 700;
            }
    }
}

// BOG COMMENTS SECTION --------------------
.comments-and-form {
    padding-right: 10%;  
    background-color: $mauve;  
        h2 {
            margin: 40px 0 20px 0;
        }
}

.comments {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
        img {
            width: calc(15% - 10px);
            margin: 8px 20px 0 0;
        }
        div {
            width: calc(85% - 10px);
            margin-bottom: 80px;
                p:first-of-type {
                    font-weight: 700;
                    margin-bottom: 5px;
                }
        }
        div.bottom-text {
            margin-bottom: 60px;
        }
}

// FORM SECTION --------------------
form.blog-form {
    .name-and-email {
        display: flex;
            .name-box {
                margin: 0 30px 0 0;
                width: calc(100% / 2 - 15px);
            }
            .email-box {
                margin: 0;
                width: calc(100% / 2 - 15px);
            }
            .name-box input,
            .email-box input {
                background-color: $mauve;
            }
    }
    .message-box textarea {
        margin: 30px 0 30px 0;
        width: 100%;
        background-color: $mauve;
        resize: none;
    }
    button {
        background-color: $plum;
        width: 100%;
        margin: 0;
    }
    button:hover, 
    button:focus,
    button:active {
        background-color: $orange;
    }
    }

// ASIDE SECTION --------------------
aside {
    padding: 0 15px 30px 15px;
        img {
            position: relative;
            top: -20px;
            left: -85px;
            width: 125%;
            max-width: 125%;
        }
        h3 {
            margin: 40px 0 10px 0;
        } 
        h3.top-heading {
            margin-top: 20px;
        }
        ul {
            list-style: disc;
            padding-left: 20px;
                a {
                    border-bottom: 2px solid white;
                }
                a:hover,
                a:focus,
                a:active {
                    border-bottom: 2px solid $orange;
                }
        }
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MINOR BREAKPOINT 1: minor update to padding for responsiveness */
@media (max-width: 1280px) {
    article {
        .text-container {
            padding: 330px 10% 40px 40px;
                .h2-main {
                    font-size: 4.9rem;
                }
        }
    }
}

/* MINOR BREAKPOINT 2: minor update to padding for responsiveness */
@media (max-width: 1100px) {
    article {
        .text-container {
            padding: 250px 10% 40px 40px;
                .h2-main {
                    font-size: 4.9rem;
                }
        }
    }
}

/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    //main section
    .blog-page main .flex-container {
        padding: 20px 0 80px 0;
        flex-direction: column;
        align-items: center;
            .flex-right {
                width: 90%;
            }
            .flex-left {
                width: 70%;
                margin: 0;
            }
    }

    // article section
    article {
        .image-container {
            .h1-and-image {
                position: static;
                text-align: center;
            }
            img {
                box-shadow: none;
                position: static;
                margin-top: 40px;
                max-width: 900px;
            }
        }
        .text-container {
            padding: 40px;
        }
    }

    // comments section
    section.comments-and-form {
        padding-right: 0; 
            form {
                margin-bottom: 80px;
            }
    }

    // aside section
    aside img {
        position: static;
        width: 100%; 
        margin-top: 15px;
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
    // main section
    .h1-and-image .h1-secondary {
        font-size: 7rem;
    }
    
    // form section
    form.blog-form {
        .name-and-email {
            display: block;
                .name-box {
                    margin: 0;
                    width: 100%;
                }
                .email-box {
                    margin: 0;
                    width: 100%;
                }
        }
    }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
    // main section
    .blog-page main .flex-container {
        padding: 10px 0 60px 0;
            .flex-left {
                    width: 90%;
                }
            .comments-and-form .blog-form {
                margin-bottom: 60px;
            }
    }

    // article section
    article {
        .text-container {
            padding: 20px;
                .h2-main {
                    font-size: 4rem; 
                }
        }
    }

    // comments section
    .comments-and-form {
        .h2-main {
            font-size: 4rem;
        }
        .comments {
            img {
                width: calc(20% - 5px);
                margin: 2px 10px 0 0;
            }
            div {
                width: calc(80% - 10px);
                margin-bottom: 50px;
            }
        }
    }
}