// CONTACT PAGE - MAIN SECTION --------------------

// general layout & address container styling
.main-contact {
    background-color: $mauve;
}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
        .address-container {
            width: 30%;
            align-self: center;
            margin-right: 20px;
                div p:first-child {
                    margin: 20px 0;
                }
        }
        .h1-and-form-container {
            width: 70%;
            position: relative;
            bottom: 270px;
            left: 30px;
        }
}

.address-container {
    .social-icons {
        ul {
            display: flex;
            color: $plum;
                li {
                    font-size: 2.3rem;
                    margin-right: 25px;
                }
        }
        ul li:last-child {
            margin-right: 0;
        }
    }
}

.address-container {
    .social-icons {
        a {
            padding: 5px 0;
        }
        a:hover {
            color: $orange;
        }
    }
}

// form styling
form.contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: -35px 35px $orange;
        .name-and-email {
            display: flex;
            justify-content: center;
                .name-box, 
                .email-box {
                    width: calc(100% / 2 - 30px);
                    margin: 60px 15px 0 15px;
                }
                .name-box {
                    margin-left: 60px;
                }
                .email-box {
                    margin-right: 60px;
                }
        }
        .message-box {
            textarea {
                width: calc(100% - 120px);
                resize: none;
                margin: 60px;
            }
        }
        button {
            margin-bottom: 60px;
            align-self: center;
        }
}

.name-and-email {
    input {
        width: 100%;
    }
}

// form input styling 
input,
textarea {
    padding: 20px 20px 12px 20px;
    background-color: $white;
    border: none;
}
input {
    border-bottom: 2px solid $orange;
}
input:focus {
    border-bottom: 2px solid $brown;
}
textarea {
    border: 2px solid $orange;
}
textarea:focus {
    border: 2px solid $brown;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
    opacity: 1;
}

// form button styling
button {
    border: none;
    cursor: pointer;
    background-color: $brown;
    padding: 5px 0;
    margin: 0 60px;
    width: calc(100% - 120px);
}

button:hover,
button:focus,
button:active {
    background-color: $orange;
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    //main section
    .main-section {
        padding: 20px 0 80px 0;
        flex-direction: column;
        align-items: center;
            .address-container {
                width: 100%;
                text-align: center;
                margin: 110px 0 0 0;
                    .social-icons ul {
                        justify-content: center;
                    }
            }
            .h1-and-form-container {
                position: static;
                width: 80%;
            }
            .h1-and-form-container h1 {
                text-align: center;
            }
    }

    // form section
    .main-section .h1-and-form-container {
        width: 90%;
            form {
                margin-top: 40px;
            }
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
    // main section 
    .main-section .h1-and-form-container h1 {
        font-size: 7rem;
    }

    //form section
    .main-section .h1-and-form-container form {
        box-shadow: -20px 20px $orange;
            .name-and-email {
                display: block;
                    .name-box, 
                    .email-box {
                        width: calc(100% - 80px);
                        margin: 10px 40px 0 40px;
                    }
            }
            .message-box textarea {
                width: calc(100% - 80px);
                margin: 40px;
            }
            button {
                width: calc(100% - 80px);
                margin: 0 40px 40px 40px;
            }
    }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
    //main section
    .main-section {
        padding: 10px 0 60px 0;
            .h1-and-form-container h1 {
                font-size: 6rem;
            }
            .address-container {
                margin-top: 70px;
            }
    }

    //form section
    .main-section .h1-and-form-container {
        width: 100%;
            form {
                box-shadow: -10px 10px $orange;
                    .name-and-email .name-box, 
                    .name-and-email .email-box {
                        width: calc(100% - 40px);
                        margin: 0 20px 0 20px;
                    }
                    .message-box textarea {
                        width: calc(100% - 40px);
                        margin: 20px;
                    }
                    button {
                        width: calc(100% - 40px);
                        margin: 0 20px 20px 20px;
                    }
            }
    }
}