// NOTE: maybe make text-shadow visible from get-go?

// SECTION: GLOBAL STYLING --------------------
header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 30px;
        .logo-and-nav-container {
            display: flex;
            justify-content: space-between;
                .logo {
                    width: 100px;
                }
    }
}

// desktop nav menu
.header-menu {
    display: flex;
        li {
            margin-right: 15px;
                a {
                    padding: 5px 12px;
                }
                a:hover {
                    color: $white;
                    background-color: $plum;
                }
        }
            li:last-of-type {
                margin-right: 0;
        }
}

// mobile hamburger menu
label, 
input[type=checkbox] {
    display: none;
}

// SECTION: HOME PAGE STYLING --------------------
.home-page header {
    background-image: url(../assets/header-image.jpg);
    background-position: left bottom;
    background-size: cover;
    min-height: 100vh;
    position: relative;
        h1 {
            margin-top: 80px;
            width: 350px;
        }
        img {
            position: absolute;
            right: 0;
            top: 15vh;
            width: 47vw;
            max-width: 600px;
        }

}

// SECTION: BLOG PAGE STYLING --------------------
.blog-page header {
    background-image: url(../assets/blog-header.jpg);
    min-height: 70vh;
    background-size: 1600px auto;
    background-size: cover;
    position: relative;
        h1 {
            position: absolute;
            left: 44%;
            bottom: 170px;
        }
}

// SECTION: CONTACT PAGE STYLING --------------------
.contact-page header {
    background-image: url(../assets/contact-image.jpg);
    background-position: left bottom;
    background-size: cover;
    min-height: 70vh;
        .header-contact {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70vh;
                .h1-contact {
                    margin-left: 33%;
                    margin-bottom: 200px;
                }
        }

}




/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    // MAKE NAV HAM MENU APPEAR

    .home-page header {
        img {
            display: none;
        }
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {}