// HOME PAGE - MAIN SECTION --------------------

// ABOUT US SECTION --------------------
.about-section {
    background-color: $mauve;
    padding: 200px 0 180px 0;
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
            p {
                margin: 30px 0;
            }
            .find-more {
                background-color: $plum;
                padding: 8px 18px;
            }
            .find-more:hover,
            .find-more:focus,
            .find-more:active {
                background-color: $orange;
            }
    }
}

// NEW ADDITIONS SECTION --------------------
.top-container {
    display: flex;
    justify-content: space-between;
        .image-container {
            margin-bottom: 20px;
                img {
                    box-shadow: 30px 30px $orange;
                    position: relative;
                    bottom: 30px;
                    right: 70px;
                }
        }
        .text-container {
            padding-left: 70px;
            margin-top: 20px;
        }
}

.bottom-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: right;
        .image-container {
            // margin-left: 40px;
                img {
                    box-shadow: -30px 30px $orange;
                    position: relative;
                    top: 30px;
                    left: 70px;
                }
        }
        .text-container {
            padding-right: 70px;
            margin-bottom: 20px;
        }
}

.top-container,
.bottom-container {
    .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
            p {
                margin: 30px 0;
            }
            .read-more {
                padding: 8px 18px;
                background-color: $brown;
            }
            .read-more:hover,
            .read-more:focus,
            .read-more:active {
                background-color: $orange;
            }
    }
    .image-container, 
    .text-container {
        width: calc(100% / 2);
    }
}

// ICONS SECTION --------------------
.icons-section {
    background-color: $mauve;
    padding-top: 120px;
    .social-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
            li {
                display: flex;
                width: 50%;
                padding: 0 20px 60px 0;
            }
    }
    .social-icons li:nth-child(2),
    .social-icons li:nth-child(4) {
        padding: 0 0 60px 0;
    }
    .image-container {
        img {
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
        }
    }
}

.icons-section {
    a {
        &:hover i,
        &:focus i,
        &:active i {
            background-color: $orange;
        }
        i {
            font-size: 2.7rem;
            color: $white;
            background-color: $plum;
            width: 5rem;
            height: 5rem;
            text-align: center;
            padding: 10px;
            margin: 0 20px;
            border-radius: 50%;
        }
    }    
}

// POPULAR THIS MONTH SECTION --------------------
.popular-section {
    display: flex;
    padding: 80px 0 80px 0;
    align-items: center;
    justify-content: center;
        .image-container {
            width: calc(30% - 80px);
            margin-right: 80px;
            min-width: 200px;
                img {
                    box-shadow: 30px 30px $orange;
                    bottom: 30px;
                }
        }
        .text-container {
            width: calc(70% - 80px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 50px;
                p {
                    margin: 30px 0;
                }
                .find-more {
                    background-color: $brown;
                    padding: 8px 18px;
                }
                .find-more:hover,
                .find-more:focus,
                .find-more:active {
                    background-color: $orange;
                }
        }
}

// GALLERY SECTION --------------------
.gallery-section {
    background-color: $mauve;
    padding: 80px 0;
        ul {
            display: flex;
                li {
                    width: calc(100 / 3 - 60px)
                }
        }
        ul li:nth-child(2) {
            margin: 0 30px 0 30px;
        }
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    // about section
    .about-section {
        padding: 80px 0 80px 0;
            h2 {
                font-size: 4.8rem;
            }
    }

    // new additions section
    .new-additions-section {
        padding: 80px 0;
    }

    .top-container,
    .bottom-container {
        display: block;
            .image-container,
            .text-container {
                margin: 0 auto;
                width: 100%;
                padding: 0;
            }
            .image-container {
                img {
                    position: static;
                    margin: 0 auto;
                }
            }
            .text-container {
                text-align: center;
                margin-top: 40px;
            }
    }

    .top-container {
        .text-container {
            margin-bottom: 100px;
        }
        .image-container {
            img {
                box-shadow: 20px 20px $orange;
            }
        }
    }

    .bottom-container {
        .image-container {
            img {
                box-shadow: -20px 20px $orange;
            }
        }
    }

    // icons section
    .icons-section {
        padding-top: 80px;
            h2 {
                font-size: 4.8rem;
            }
    }

    // popular this month section
    .popular-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
            .image-container {
                width: 100%;
                margin: 0;
                    img {
                        margin: 0 auto;
                        box-shadow: 20px 20px $orange;
                    }
            }
            .text-container {
                width: 100%;
                align-items: center;
                text-align: center;
                margin-top: 60px;
                padding: 0;
                    h2 {
                        font-size: 4.8rem;
                    }
            }
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
    // about section
    .about-section h2 {
        font-size: 4.5rem;
    }

    // new additions section
    .top-container,
    .bottom-container {
        .text-container {
            h3 {
                font-size: 3.8rem;
            }
            p {
                margin: 20px 0;
            }
        }
    }

    .top-container {
        .image-container {
            img {
                box-shadow: 10px 10px $orange;
            }
        }
        .text-container {
            margin: 30px 0 60px 0;
        }
    }

    .bottom-container {
        .image-container {
            img {
                box-shadow: -10px 10px $orange;
            }
        }
        .text-container {
            margin-top: 30px;
        }
    }

    //icons section
    .icons-section {
            .social-icons {
                text-align: center;
                    li {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 60px 0;
                    }
                    li a {
                        margin-bottom: 20px;
                    }
                    li h2 {
                        font-size: 4.5rem;
                    }
            }
    }

    // popular section
    .popular-section {
        .image-container img {
            box-shadow: 10px 10px $orange;
        }
        .text-container h2 {
            font-size: 4.5rem;
        }
    }

    // gallery section
    .gallery-section {
        ul li {
            width: calc(50% - 15px);
        }
        ul li:nth-child(2) {
            margin: 0 0 0 30px;
        }
        ul li:nth-child(3) {
            display: none;
        }
    }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
    // about section
    .about-section {
        padding: 60px 0;
            h2 {
                font-size: 4.2rem;
            }
    }

    // new additions section
    .new-additions-section {
        padding: 60px 0;
            .top-container,
            .bottom-container {
                h3 {
                    font-size: 3.5rem;
                }
            }
    }

    // icons section
    .icons-section {
        padding-top: 60px;
            .social-icons li:last-child {
                padding: 0 0 25px 0;
            }
            .social-icons li h2 {
                font-size: 4.2rem;
            }
    }

    // popular this month section
    .popular-section {
        padding: 60px 0;
            .text-container h2 {
                font-size: 4.2rem;
            }
    }

    // gallery section
    .gallery-section {
        padding: 60px 0;
    }
}