


// ABOUT US SECTION
.about-section {
    background-color: $mauve;
    padding: 200px 0 180px 0;
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
            p {
                margin: 30px 0;
            }
            .find-more {
                background-color: $plum;
            }
            .find-more:hover,
            .find-more:focus,
            .find-more:active {
                background-color: $orange;
            }
    }
}

.find-more {
    padding: 8px 18px;
}






// NEW ADDITIONS SECTION
.new-additions-section {
    position: relative;
    padding: 60px 0;
    .image-container {
        width: calc(100% / 2 - 100px);
    }
    .text-container {
        width: calc(100% / 2 - 100px);
            p {
                margin: 30px 0;
            }
            .read-more {
                padding: 8px 18px;
                background-color: $brown;
            }
            .read-more:hover,
            .read-more:focus,
            .read-more:active {
                background-color: $orange;
            }
    }
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .image-container {
        position: absolute;
        top: -30px;
        left: 0;
            img {
                box-shadow: 30px 30px $orange;
            }
    }
    .text-container {
        margin-bottom: 50px;
    }
}

.bottom-container {
    display: flex;
    .image-container {
        margin-left: 100px;
        position: absolute;
        bottom: -30px;
        right: 0;
            img {
                box-shadow: -30px 30px $orange;
            }
    }
    .text-container {
        margin-top: 50px;
        text-align: right;
    }
}




// ICONS SECTION
.icons-section {
    background-color: $mauve;
    padding-top: 120px;
    .social-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
            li {
                display: flex;
                width: 50%;
                padding: 0 20px 60px 0;
            }
    }
}

.icons-section {
    a {
        i {
            font-size: 2.7rem;
            color: $white;
            background-color: $plum;
            width: 5rem;
            height: 5rem;
            text-align: center;
            padding: 10px;
            margin: 0 20px;
            border-radius: 50%;
        }
    }    
    a:hover i,
    a:focus i,
    a:active i {
        background-color: $orange;
    }
}



// POPULAR THIS MONTH SECTION
.popular-section {
    display: flex;
    padding: 80px 0 80px 0;
    align-items: center;
    justify-content: center;
        .image-container {
            width: calc(30% - 80px);
            margin-right: 80px;
            min-width: 200px;
                img {
                    box-shadow: 30px 30px $orange;
                    bottom: 30px;
                }
        }
        .text-container {
            width: calc(70% - 80px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 50px;
                p {
                    margin: 30px 0;
                }
                .find-more {
                    background-color: $brown;
                }
                .find-more:hover,
                .find-more:focus,
                .find-more:active {
                    background-color: $orange;
                }
        }
}



// GALLERY SECTION
.gallery-section {
    background-color: $mauve;
    padding: 80px 0;
        ul {
            display: flex;
                li {
                    width: calc(100 / 3 - 60px)
                }
        }
        ul li:nth-child(2) {
            margin: 0 30px 0 30px;
        }
}