// GLOBAL STYLING - HEADER SECTION --------------------
header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 30px;
        .logo-and-nav-container {
            display: flex;
            justify-content: space-between;
                .logo {
                    width: 100px;
                }
    }
}

// desktop nav menu
.header-menu {
    display: flex;
        li {
            margin-right: 15px;
                a {
                    padding: 5px 12px;
                }
                a:hover {
                    color: $white;
                    background-color: $plum;
                }
        }
            li:last-of-type {
                margin-right: 0;
        }
}

// mobile hamburger menu styling
button.dropdown-menu {
    background-color: transparent;
    display: none;
        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
        }
        i.fa-bars {
            position: fixed;
            right: 30px;
            top: 20px;
            z-index: 10;
            text-shadow: 0px 3px 5px #1f2022;
            color: white;
            font-size: 5rem;
            border-radius: 5px;
            padding: 0 3px;
            cursor: pointer;
        }
}

// HOME PAGE - HEADER SECTION --------------------
.home-page header {
    background-image: url(../assets/header-image.jpg);
    background-position: left bottom;
    background-size: cover;
    min-height: 100vh;
    position: relative;
        h1 {
            margin-top: 80px;
            width: 350px;
        }
        img {
            position: absolute;
            right: 0;
            top: 15vh;
            width: 47vw;
            max-width: 600px;
        }

}

// BLOG PAGE - HEADER SECTION -------------------- 
.blog-page header {
    background-image: url(../assets/blog-header.jpg);
    min-height: 70vh;
    background-size: cover;
        h1 {
            position: absolute;
            left: 44%;
            top: 20%;
            z-index: 10;
        }
}

// CONTACT PAGE - HEADER SECTION --------------------
.contact-page header {
    background-image: url(../assets/contact-image.jpg);
    background-position: left bottom;
    background-size: cover;
    min-height: 70vh;
        .header-contact {
            display: flex;
            flex-direction: column;
            height: 70vh;
                .h1-contact {
                    margin-left: 34%;
                    margin-top: 100px;
                }
        }
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    // GLOBAL navigation (drop down menu)
    button.dropdown-menu {
        display: inherit;
    }

    .header-menu {
        display: block;
        position: absolute;
        z-index: 10;
        background-color: rgba(250, 229, 255, 0.9);
        height: auto;
        width: 30vw;
        top: 15vh;
        right: -35vw;
        transition: all 0.5s ease;
            li {
                display: block;
                margin: 0;
                padding: 20px 0;
                text-align: center;
                border-bottom: 1px solid $plum;
            }
    }

    .dropdown-menu:active + .header-menu,
    .dropdown-menu:focus + .header-menu {
        right: 0;
            .header-menu li:focus-within a,
            .header-menu a:hover,
            .header-menu a:active {
                color: $plum;
                border-bottom: none;
            }
    }

    // HOME PAGE header section
    .home-page header {
        img {
            display: none;
        }
    }

    // CONTACT PAGE header section
    .contact-page header .header-contact .h1-contact {
        margin: 15vh auto 0 auto;
        width: 380px;
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
    // GLOBAL navigation
    button.dropdown-menu i.fa-bars {
        font-size: 4rem;
    }

    // HOME PAGE header section
    .h1-main {
        font-size: 10rem;
    }

    // BLOG PAGE header section
    .blog-page header {
        h1 {
            position: static;
            margin: 15vh auto 0 auto;
            width: 140px;
            font-size: 7rem;
        }
    }

    // CONTACT PAGE header section
    .contact-page header .header-contact .h1-contact {
        font-size: 7rem;
        width: 328px;
    }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
    // GLOBAL navigation
    button.dropdown-menu i.fa-bars {
        font-size: 3rem;
    }

    .header-menu a {
        font-size: 1.5rem;
    }

    // HOME PAGE header section
    .h1-main {
        font-size: 8rem;
    }

    // BLOG PAGE header section
    .blog-page header h1 {
        font-size: 6rem;
    }

    // CONTACT PAGE header section
    .contact-page header .header-contact .h1-contact {
        font-size: 6rem;
        width: 280px;
    }
}