// GLOBAL STYLING - HEADER SECTION --------------------
header {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
        .logo-and-nav-container {
            display: flex;
            justify-content: space-between;
            min-height: 72px;
            position: relative;
            z-index: 20;
                .logo {
                    width: 100px;
                }
    }
}

// desktop nav menu
.header-menu {
    display: flex;
        li {
            margin-right: 15px;
                a {
                    padding: 5px 12px;
                    transition: all 0.3s linear;
                }
                a:hover {
                    color: $white;
                    background-color: $plum;
                    text-shadow: 2px 2px 2px $black;
                }
        }
            li:last-of-type {
                margin-right: 0;
        }
}

// mobile hamburger menu styling
i.fa-bars,
input[type=checkbox] {
    display: none;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 10;
    text-shadow: 0px 3px 5px $white;
    color: $plum;
    font-size: 5rem;
    border-radius: 5px;
    padding: 0 3px;
    cursor: pointer;
}


// HOME PAGE - HEADER SECTION --------------------
.home-page header {
    background-image: url(../assets/header-image.jpg);
    background-position: 20% center;
    min-height: 100vh;
    position: relative;
        h1 {
            margin-top: 80px;
            width: 350px;
        }
        img {
            position: absolute;
            right: 0;
            top: 15vh;
            width: 47vw;
            max-width: 600px;
        }
}

// BLOG PAGE - HEADER SECTION -------------------- 
.blog-page header {
    background-image: url(../assets/blog-header.jpg);
    background-position: center;
    min-height: 70vh;
}

// CONTACT PAGE - HEADER SECTION --------------------
.contact-page header {
    background-image: url(../assets/contact-image.jpg);
    background-position: left bottom;
    min-height: 70vh;
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    // GLOBAL header (drop down menu)
    i.fa-bars {
        display: inherit;
    }

    i.fa-bars:focus,
    i.fa-bars:active {
        color: $orange;
    }

    .header-menu {
        position: fixed;
        display: block;
        z-index: 10;
        background-color: rgba(76, 3, 65, 0.9);
        height: 100vh;
        width: 30vw;
        top: 0;
        left: -35vw;
        transition: all 0.5s ease;
        color: $white;
            li {
                display: block;
                margin: 0;
                padding: 20px 0;
                text-align: center;
                border-bottom: 1px solid $white;
                    a {
                        text-shadow: none;
                        transition: all 0.3s linear;
                    }
            }
    }

    .header-menu {
        li:focus-within a,
        li:hover a,
        li:focus a,
        li:active a {
            color: $orange;
            border-bottom: none;
            background-color: transparent;
        }
    }

    input[type=checkbox]:checked + .header-menu {
        left: 0;
    }

    // HOME PAGE header 
    .home-page header {
        img {
            display: none;
        }
    }

    // BLOG PAGE header 
    .blog-page header {
        min-height: 30vh;
    }

    // CONTACT PAGE header 
    .contact-page header {
        min-height: 30vh;
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
    // GLOBAL header
    header {
        .logo-and-nav-container {
            .logo {
                width: 100px;
                font-size: 2.7rem;
                }
            i.fa-bars {
                font-size: 4rem;
            }
        }
    }

    // HOME PAGE header 
    .home-page header {
        min-height: 75vh;
            .h1-main {
                font-size: 9rem;
                margin-top: 60px;
                min-width: 200px;
            }
    }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
    // GLOBAL header
    header .logo-and-nav-container i.fa-bars {
        font-size: 3rem;
    }

    .header-menu a {
        font-size: 1.5rem;
    }

    // HOME PAGE header 
    .home-page header {
        background-position: left center;
        min-height: 60vh;
            .h1-main {
                font-size: 7rem;
                margin-top: 40px;
                width: 200px;
                text-shadow: 2px 2px $mauve;
            }
    }
}