
// REVIEW: change the blue to H3???
// NOTE: remove class on h2-main and just use indenting
// NOTE: condense to a single mixin, maybe?



// body, nav, button, and logo styling
body,
input {
    @include body-font(20);
    line-height: 32px;
}

nav {
    a { @include body-font(20, 700);
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px $white;
    }
}

// REVIEW - IS THIS CORRECT OR SHOULD I NEST???
button,
.find-more,
.read-more {
    @include body-font(20);
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1px;
    color: $white;
}

.address-container {
    div p:first-child {
        @include heading-font(30);
        color: $plum;
    }
}

footer {
    @include body-font(20);
    line-height: 3.2rem;
    color: $white;
}

// heading styling
.logo {
    @include heading-font(35.8);
    text-transform: initial;
    line-height: 36px;
    letter-spacing: 1.1px;
}

.h1-main {
    @include heading-font(110);
    text-transform: initial;
    line-height: 6.4rem;
    color: $plum;
    text-shadow: 1px 1px 2px $white;
}

.h1-secondary {
    @include heading-font(80);
    line-height: 92px;
    color: $plum;
}

h2 {
    @include heading-font(52);
    line-height: 5.2rem;
    color: $plum;
}

.h2-main {
    letter-spacing: 1.2px;
}

.icons-section {
    h2 { 
        @include heading-font(52);
        line-height: 5.2rem;
        letter-spacing: 1.6px;
        color: $black;
    }
}

.new-additions-section {
    h3 { 
        @include heading-font(42);
        letter-spacing: 1.3px;
        color: $black;
    }
}

.flex-left {
    h3 { 
        @include heading-font(30);
        letter-spacing: 1.3px;
        color: $plum;
    }
}