html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
p,
h1,
h2,
h3,
a,
button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body,
input {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 32px;
}

nav a {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #FFFFFF;
}

.logo {
  font-size: 3.58rem;
  font-weight: 400;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  text-transform: initial;
  line-height: 36px;
  letter-spacing: 1.1px;
  text-shadow: 1px 1px 2px #FFFFFF;
  padding: 0 0 10px 0;
}

.address-container div p:first-child {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  color: #4C0341;
}

form button,
.find-more,
.read-more {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

footer {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 3.2rem;
  color: #FFFFFF;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #FAE5FF;
  color: #4C0341;
}

.skip-link:focus {
  left: 0;
}

.h1-main {
  font-size: 11rem;
  font-weight: 400;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  text-transform: initial;
  line-height: 6.4rem;
  color: #4C0341;
  text-shadow: 1px 1px 2px #FFFFFF;
  padding: 0 0 20px 0;
}

.h1-secondary {
  font-size: 8rem;
  font-weight: 400;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  line-height: 92px;
  color: #4C0341;
  text-shadow: 2px 2px 2px #FFFFFF;
  z-index: 10;
  padding: 0 0 20px 0;
}

h2 {
  font-size: 5.2rem;
  font-weight: 400;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  line-height: 5.2rem;
  color: #4C0341;
}

.about-section h2,
.popular-this-month h2 {
  letter-spacing: 1.2px;
  position: relative;
  z-index: 30;
}

.icons-section h2 {
  font-size: 5.2rem;
  font-weight: 400;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  line-height: 5.2rem;
  letter-spacing: 1.6px;
  color: #0D0D0D;
}

.new-additions-section h3 {
  font-size: 4.2rem;
  font-weight: 400;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #0D0D0D;
}

.flex-left h3 {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #4C0341;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

header .logo-and-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 72px;
  position: relative;
  z-index: 20;
}

header .logo-and-nav-container .logo {
  width: 100px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu li {
  margin-right: 15px;
}

.header-menu li a {
  padding: 5px 12px;
}

.header-menu li a:hover {
  color: #FFFFFF;
  background-color: #4C0341;
}

.header-menu li:last-of-type {
  margin-right: 0;
}

i.fa-bars,
input[type=checkbox] {
  display: none;
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 10;
  text-shadow: 0px 3px 5px #FFFFFF;
  color: #4C0341;
  font-size: 5rem;
  border-radius: 5px;
  padding: 0 3px;
  cursor: pointer;
}

.home-page header {
  background-image: url(../assets/header-image.jpg);
  background-position: 20% center;
  min-height: 100vh;
  position: relative;
}

.home-page header h1 {
  margin-top: 80px;
  width: 350px;
}

.home-page header img {
  position: absolute;
  right: 0;
  top: 15vh;
  width: 47vw;
  max-width: 600px;
}

.blog-page header {
  background-image: url(../assets/blog-header.jpg);
  background-position: center;
  min-height: 70vh;
}

.contact-page header {
  background-image: url(../assets/contact-image.jpg);
  background-position: left bottom;
  min-height: 70vh;
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
  i.fa-bars {
    display: inherit;
  }
  i.fa-bars:focus, i.fa-bars:active {
    color: #FE6F19;
  }
  .header-menu {
    position: fixed;
    display: block;
    z-index: 10;
    background-color: rgba(76, 3, 65, 0.9);
    height: 100vh;
    width: 30vw;
    top: 0;
    left: -35vw;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #FFFFFF;
  }
  .header-menu li {
    display: block;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
  }
  .header-menu li:focus-within a,
  .header-menu li:hover a,
  .header-menu li:focus a,
  .header-menu li:active a {
    color: #FE6F19;
    border-bottom: none;
    background-color: transparent;
  }
  .header-menu li a {
    text-shadow: none;
  }
  input[type=checkbox]:checked + .header-menu {
    left: 0;
  }
  .home-page header img {
    display: none;
  }
  .blog-page header {
    min-height: 30vh;
  }
  .contact-page header {
    min-height: 30vh;
  }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
  header .logo-and-nav-container .logo {
    width: 100px;
    font-size: 2.7rem;
  }
  header .logo-and-nav-container i.fa-bars {
    font-size: 4rem;
  }
  .home-page header {
    min-height: 75vh;
  }
  .home-page header .h1-main {
    font-size: 9rem;
    margin-top: 60px;
    min-width: 200px;
  }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
  header .logo-and-nav-container i.fa-bars {
    font-size: 3rem;
  }
  .header-menu a {
    font-size: 1.5rem;
  }
  .home-page header {
    background-position: left center;
    min-height: 60vh;
  }
  .home-page header .h1-main {
    font-size: 7rem;
    margin-top: 40px;
    width: 200px;
    text-shadow: 2px 2px #FAE5FF;
  }
}

.about-section {
  background-color: #FAE5FF;
  padding: 200px 0 180px 0;
}

.about-section .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-section .about-container p {
  margin: 30px 0;
}

.about-section .about-container .find-more {
  background-color: #4C0341;
  padding: 8px 18px;
}

.about-section .about-container .find-more:hover,
.about-section .about-container .find-more:focus,
.about-section .about-container .find-more:active {
  background-color: #FE6F19;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-container .image-container {
  margin-bottom: 20px;
}

.top-container .image-container img {
  -webkit-box-shadow: 30px 30px #FE6F19;
          box-shadow: 30px 30px #FE6F19;
  position: relative;
  bottom: 30px;
  right: 70px;
}

.top-container .text-container {
  padding-left: 70px;
  margin-top: 20px;
}

.bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.bottom-container .image-container img {
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
  position: relative;
  top: 30px;
  left: 70px;
}

.bottom-container .text-container {
  padding-right: 70px;
  margin-bottom: 20px;
}

.top-container .text-container,
.bottom-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container .text-container p,
.bottom-container .text-container p {
  margin: 30px 0;
}

.top-container .text-container .read-more,
.bottom-container .text-container .read-more {
  padding: 8px 18px;
  background-color: #882C07;
}

.top-container .text-container .read-more:hover,
.top-container .text-container .read-more:focus,
.top-container .text-container .read-more:active,
.bottom-container .text-container .read-more:hover,
.bottom-container .text-container .read-more:focus,
.bottom-container .text-container .read-more:active {
  background-color: #FE6F19;
}

.top-container .image-container,
.top-container .text-container,
.bottom-container .image-container,
.bottom-container .text-container {
  width: calc(100% / 2);
}

.icons-section {
  background-color: #FAE5FF;
  padding-top: 120px;
}

.icons-section .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.icons-section .social-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0 20px 60px 0;
}

.icons-section .social-icons li:nth-child(2),
.icons-section .social-icons li:nth-child(4) {
  padding: 0 0 60px 0;
}

.icons-section .image-container img {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.icons-section a:hover i,
.icons-section a:focus i,
.icons-section a:active i {
  background-color: #FE6F19;
}

.icons-section a i {
  font-size: 2.7rem;
  color: #FFFFFF;
  background-color: #4C0341;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
  border-radius: 50%;
}

.popular-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-section .image-container {
  width: calc(30% - 80px);
  margin-right: 80px;
  min-width: 200px;
}

.popular-section .image-container img {
  -webkit-box-shadow: 30px 30px #FE6F19;
          box-shadow: 30px 30px #FE6F19;
  bottom: 30px;
}

.popular-section .text-container {
  width: calc(70% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
}

.popular-section .text-container p {
  margin: 30px 0;
}

.popular-section .text-container .find-more {
  background-color: #882C07;
  padding: 8px 18px;
}

.popular-section .text-container .find-more:hover,
.popular-section .text-container .find-more:focus,
.popular-section .text-container .find-more:active {
  background-color: #FE6F19;
}

.gallery-section {
  background-color: #FAE5FF;
  padding: 80px 0;
}

.gallery-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-section ul li {
  width: calc(100 / 3 - 60px);
}

.gallery-section ul li:nth-child(2) {
  margin: 0 30px 0 30px;
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
  .about-section {
    padding: 80px 0 80px 0;
  }
  .about-section h2 {
    font-size: 4.8rem;
  }
  .new-additions-section {
    padding: 80px 0;
  }
  .top-container,
  .bottom-container {
    display: block;
  }
  .top-container .image-container,
  .top-container .text-container,
  .bottom-container .image-container,
  .bottom-container .text-container {
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
  .top-container .image-container img,
  .bottom-container .image-container img {
    position: static;
    margin: 0 auto;
  }
  .top-container .text-container,
  .bottom-container .text-container {
    text-align: center;
    margin-top: 40px;
  }
  .top-container .text-container {
    margin-bottom: 100px;
  }
  .top-container .image-container img {
    -webkit-box-shadow: 20px 20px #FE6F19;
            box-shadow: 20px 20px #FE6F19;
  }
  .bottom-container .image-container img {
    -webkit-box-shadow: -20px 20px #FE6F19;
            box-shadow: -20px 20px #FE6F19;
  }
  .icons-section {
    padding-top: 80px;
  }
  .icons-section h2 {
    font-size: 4.8rem;
  }
  .popular-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popular-section .image-container {
    width: 100%;
    margin: 0;
  }
  .popular-section .image-container img {
    margin: 0 auto;
    -webkit-box-shadow: 20px 20px #FE6F19;
            box-shadow: 20px 20px #FE6F19;
  }
  .popular-section .text-container {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 60px;
    padding: 0;
  }
  .popular-section .text-container h2 {
    font-size: 4.8rem;
  }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
  .about-section h2 {
    font-size: 4.5rem;
  }
  .top-container .text-container h3,
  .bottom-container .text-container h3 {
    font-size: 3.8rem;
  }
  .top-container .text-container p,
  .bottom-container .text-container p {
    margin: 20px 0;
  }
  .top-container .image-container img {
    -webkit-box-shadow: 10px 10px #FE6F19;
            box-shadow: 10px 10px #FE6F19;
  }
  .top-container .text-container {
    margin: 30px 0 60px 0;
  }
  .bottom-container .image-container img {
    -webkit-box-shadow: -10px 10px #FE6F19;
            box-shadow: -10px 10px #FE6F19;
  }
  .bottom-container .text-container {
    margin-top: 30px;
  }
  .icons-section .social-icons {
    text-align: center;
  }
  .icons-section .social-icons li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 60px 0;
  }
  .icons-section .social-icons li a {
    margin-bottom: 20px;
  }
  .icons-section .social-icons li h2 {
    font-size: 4.5rem;
  }
  .popular-section .image-container img {
    -webkit-box-shadow: 10px 10px #FE6F19;
            box-shadow: 10px 10px #FE6F19;
  }
  .popular-section .text-container h2 {
    font-size: 4.5rem;
  }
  .gallery-section ul li {
    width: calc(50% - 15px);
  }
  .gallery-section ul li:nth-child(2) {
    margin: 0 0 0 30px;
  }
  .gallery-section ul li:nth-child(3) {
    display: none;
  }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
  .about-section {
    padding: 60px 0;
  }
  .about-section h2 {
    font-size: 4.2rem;
  }
  .new-additions-section {
    padding: 60px 0;
  }
  .new-additions-section .top-container h3,
  .new-additions-section .bottom-container h3 {
    font-size: 3.5rem;
  }
  .icons-section {
    padding-top: 60px;
  }
  .icons-section .social-icons li:last-child {
    padding: 0 0 25px 0;
  }
  .icons-section .social-icons li h2 {
    font-size: 4.2rem;
  }
  .popular-section {
    padding: 60px 0;
  }
  .popular-section .text-container h2 {
    font-size: 4.2rem;
  }
  .gallery-section {
    padding: 60px 0;
  }
}

.main-contact {
  background-color: #FAE5FF;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .address-container {
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
}

.main-section .address-container div p:first-child {
  margin: 20px 0;
}

.main-section .h1-and-form-container {
  width: 70%;
  position: relative;
  bottom: 270px;
  left: 30px;
}

form.contact-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  -webkit-box-shadow: -35px 35px #FE6F19;
          box-shadow: -35px 35px #FE6F19;
}

form.contact-form .name-and-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form.contact-form .name-and-email .name-box,
form.contact-form .name-and-email .email-box {
  width: calc(100% / 2 - 30px);
  margin: 60px 15px 0 15px;
}

form.contact-form .name-and-email .name-box {
  margin-left: 60px;
}

form.contact-form .name-and-email .email-box {
  margin-right: 60px;
}

form.contact-form .message-box textarea {
  width: calc(100% - 120px);
  resize: none;
  margin: 60px;
}

form.contact-form button {
  margin-bottom: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.name-and-email input {
  width: 100%;
}

input,
textarea {
  padding: 20px 20px 12px 20px;
  background-color: #FFFFFF;
  border: none;
}

input {
  border-bottom: 2px solid #FE6F19;
}

input:focus {
  border-bottom: 2px solid #882C07;
}

textarea {
  border: 2px solid #FE6F19;
}

textarea:focus {
  border: 2px solid #882C07;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

input[type=text]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
  opacity: 1;
}

button {
  border: none;
  cursor: pointer;
  background-color: #882C07;
  padding: 5px 0;
  margin: 0 60px;
  width: calc(100% - 120px);
}

button:hover, button:focus, button:active {
  background-color: #FE6F19;
}

.address-container .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4C0341;
}

.address-container .social-icons ul li {
  font-size: 2.3rem;
  margin-right: 25px;
}

.address-container .social-icons ul li:last-child {
  margin-right: 0;
}

.address-container .social-icons a {
  padding: 5px 0;
}

.address-container .social-icons a:hover {
  color: #FE6F19;
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
  .main-section {
    padding: 20px 0 80px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-section .address-container {
    width: 100%;
    text-align: center;
    margin: 110px 0 0 0;
  }
  .main-section .address-container .social-icons ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-section .h1-and-form-container {
    position: static;
    width: 80%;
  }
  .main-section .h1-and-form-container h1 {
    text-align: center;
  }
  .main-section .h1-and-form-container {
    width: 90%;
  }
  .main-section .h1-and-form-container form {
    margin-top: 40px;
  }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
  .main-section .h1-and-form-container h1 {
    font-size: 7rem;
  }
  .main-section .h1-and-form-container form {
    -webkit-box-shadow: -20px 20px #FE6F19;
            box-shadow: -20px 20px #FE6F19;
  }
  .main-section .h1-and-form-container form .name-and-email {
    display: block;
  }
  .main-section .h1-and-form-container form .name-and-email .name-box,
  .main-section .h1-and-form-container form .name-and-email .email-box {
    width: calc(100% - 80px);
    margin: 10px 40px 0 40px;
  }
  .main-section .h1-and-form-container form .message-box textarea {
    width: calc(100% - 80px);
    margin: 40px;
  }
  .main-section .h1-and-form-container form button {
    width: calc(100% - 80px);
    margin: 0 40px 40px 40px;
  }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
  .main-section {
    padding: 10px 0 60px 0;
  }
  .main-section .h1-and-form-container h1 {
    font-size: 6rem;
  }
  .main-section .address-container {
    margin-top: 70px;
  }
  .main-section .h1-and-form-container {
    width: 100%;
  }
  .main-section .h1-and-form-container form {
    -webkit-box-shadow: -10px 10px #FE6F19;
            box-shadow: -10px 10px #FE6F19;
  }
  .main-section .h1-and-form-container form .name-and-email .name-box,
  .main-section .h1-and-form-container form .name-and-email .email-box {
    width: calc(100% - 40px);
    margin: 5px 20px 0 20px;
  }
  .main-section .h1-and-form-container form .message-box textarea {
    width: calc(100% - 40px);
    margin: 30px 20px 20px 20px;
  }
  .main-section .h1-and-form-container form button {
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
  }
}

.blog-page main {
  background-color: #FAE5FF;
}

.blog-page main .flex-container {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}

.blog-page main .flex-container .flex-right {
  width: calc(63% - 25px);
}

.blog-page main .flex-container .flex-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
  width: calc(37% - 25px - 10%);
  margin: 0 50px 0 5vw;
  background-color: #FFFFFF;
  max-width: 500px;
}

article {
  width: 100%;
}

article .image-container {
  position: relative;
}

article .image-container .h1-and-image {
  position: absolute;
  left: 30px;
  top: -350px;
}

article .image-container img {
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
  width: 100%;
  max-width: 800px;
}

article .text-container {
  background-color: #FFFFFF;
  padding: 350px 10% 40px 40px;
  width: 100%;
}

article .text-container p {
  margin-top: 30px;
}

article .text-container .date-paragraph {
  margin: 0;
  font-weight: 700;
}

.comments-and-form {
  padding-right: 10%;
  background-color: #FAE5FF;
}

.comments-and-form h2 {
  margin: 40px 0 20px 0;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comments img {
  width: calc(15% - 10px);
  margin: 8px 20px 0 0;
}

.comments div {
  width: calc(85% - 10px);
  margin-bottom: 80px;
}

.comments div p:first-of-type {
  font-weight: 700;
  margin-bottom: 5px;
}

.comments div.bottom-text {
  margin-bottom: 60px;
}

form.blog-form .name-and-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form.blog-form .name-and-email .name-box {
  margin: 0 30px 0 0;
  width: calc(100% / 2 - 15px);
}

form.blog-form .name-and-email .email-box {
  margin: 0;
  width: calc(100% / 2 - 15px);
}

form.blog-form .name-and-email .name-box input,
form.blog-form .name-and-email .email-box input {
  background-color: #FAE5FF;
}

form.blog-form .message-box textarea {
  margin: 30px 0 30px 0;
  width: 100%;
  background-color: #FAE5FF;
  resize: none;
}

form.blog-form button {
  background-color: #4C0341;
  width: 100%;
  margin: 0;
}

form.blog-form button:hover,
form.blog-form button:focus,
form.blog-form button:active {
  background-color: #FE6F19;
}

aside {
  padding: 0 15px 30px 15px;
}

aside img {
  position: relative;
  top: -20px;
  left: -85px;
  width: 125%;
  max-width: 125%;
}

aside h3 {
  margin: 40px 0 10px 0;
}

aside h3.top-heading {
  margin-top: 20px;
}

aside ul {
  list-style: disc;
  padding-left: 20px;
}

aside ul a {
  border-bottom: 2px solid white;
}

aside ul a:hover,
aside ul a:focus,
aside ul a:active {
  border-bottom: 2px solid #FE6F19;
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MINOR BREAKPOINT 1: minor update to padding for responsiveness */
@media (max-width: 1100px) {
  article .text-container {
    padding: 250px 10% 40px 40px;
  }
  article .text-container .h2-main {
    font-size: 4.9rem;
  }
}

/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
  .blog-page main .flex-container {
    padding: 20px 0 80px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-page main .flex-container .flex-right {
    width: 90%;
  }
  .blog-page main .flex-container .flex-left {
    width: 90%;
    margin: 0;
  }
  article .image-container .h1-and-image {
    position: static;
    text-align: center;
  }
  article .image-container img {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    margin-top: 40px;
    max-width: 900px;
  }
  article .text-container {
    padding: 40px;
  }
  section.comments-and-form {
    padding-right: 0;
  }
  section.comments-and-form form {
    margin-bottom: 80px;
  }
  aside img {
    position: static;
    width: 100%;
    margin-top: 15px;
  }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
  .h1-and-image .h1-secondary {
    font-size: 7rem;
  }
  form.blog-form .name-and-email {
    display: block;
  }
  form.blog-form .name-and-email .name-box {
    margin: 0;
    width: 100%;
  }
  form.blog-form .name-and-email .email-box {
    margin: 0;
    width: 100%;
  }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
  .blog-page main .flex-container {
    padding: 10px 0 60px 0;
  }
  .blog-page main .flex-container .comments-and-form .blog-form {
    margin-bottom: 60px;
  }
  article .text-container {
    padding: 20px;
  }
  article .text-container .h2-main {
    font-size: 4rem;
  }
  .comments-and-form .h2-main {
    font-size: 4rem;
  }
  .comments-and-form .comments img {
    width: calc(20% - 5px);
    margin: 2px 10px 0 0;
  }
  .comments-and-form .comments div {
    width: calc(80% - 10px);
    margin-bottom: 50px;
  }
}

footer {
  background-color: #882C07;
  text-align: center;
}

footer a {
  font-style: italic;
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
  footer {
    font-size: 1.5rem;
  }
}
